body{
    margin: 5px;
}
div.static{
    margin:25%;
    padding: 5%;
    font-style: italic;
    text-align: center;
    position: static;
    background-color: yellowgreen;
}
div.relative{
    background-color: aqua;
    text-align: center;
    position: relative;
    margin: 20%;
    padding: 5%;
    left:5%;
}
div.fixed{
    background-color: violet;
    padding: 2%;
    bottom:0;
    right:0;
    position: fixed;
}
div.ancestor{
    border: 2px solid greenyellow;
    margin: 25%;
    padding: 30%;
    position: relative;
}
div.absolute{
    border: 1.5px solid royalblue;
    position: absolute;
}
img{
    position: absolute;
    z-index: -1;
}
.para{
    color:tomato;
}