
body{
    margin:20px;
}
.serif{
    font-family: 'Times New Roman', Times, serif;
}
.sansserif{
    font-family: Arial, Helvetica, sans-serif;
}
.normal{
    font-style: normal;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}