<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Furama</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Khach hang</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Nhan vien</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Hop dong</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Dich vu</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Hop dong chi tiet</a>
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
    </div>
</div>