<app-font-size-editor></app-font-size-editor>
<app-pet></app-pet>
<app-color-picker></app-color-picker>
<app-calculator></app-calculator>
<app-name-card cardName="Angular" email="angular.io" phone="013123123123"></app-name-card>
<app-progress-bar [currentProgress]="progressValue" [(ngModel)]="progressValue"></app-progress-bar>
<app-rating-bar></app-rating-bar>
<app-count-down></app-count-down>
<app-todo></app-todo>
<app-register-final></app-register-final>
<app-login></app-login>
<app-time-living></app-time-living>
<a [routerLink]="['/youtube']">Youtube</a>
<br>
<a [routerLink]="['/dictionary']">Dictionary</a>
<router-outlet></router-outlet>
<app-image-gallery></app-image-gallery>
<app-image-slide></app-image-slide>
<a [routerLink]="['/blog']">Blog</a>